<div>

  <!-- <h1>Angular Login/Logout</h1>
  <nav>
    <a routerLink="/login">Login</a>
    <br>
    <a routerLink="/logout">Logout</a>
  </nav>

  <router-outlet></router-outlet> -->
    
  <app-login></app-login>

  <br>

  <app-web-socket></app-web-socket>

  <br>

  <app-logout></app-logout>

  <!-- <h1>WebSocket Chat</h1>
  <div *ngFor="let msg of message">
    <strong>{{ msg.from }}:</strong> {{ msg.content }}
  </div>
  <input [(ngModel)]="message" placeholder="Type a message...">
  <button (click)="sendMessage()">Send</button> -->

</div>

